.ant-layout-sider {
  height: 100vh;
}

.ant-layout-content {
  margin: 0 !important;
  height: calc(100vh - 64px);
  overflow: scroll;
}

.ant-layout-content .ant-table {
  /* background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20200604/pngtree-abstract-polygonal-space-low-poly-dark-background-with-connecting-dots-and-image_337931.jpg) !important; */
  background-size: cover;
  background-color: transparent;
  color: rgb(255, 0, 0);
}

.ant-table-row:hover {
  /* background-color: burlywood !important; */
}

.ant-layout-content {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKSh2WA31ZA3u4qq2JnmXOAUi0DybJOxNs-A&usqp=CAU) !important;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.hello {
  color: white;
}